
body {
	background: rgba(245, 132, 33, .87);
  	width: auto;
}

#form {
	position: relative;
	width: 50%;
	margin: auto;
	margin-top: 175px;
}

img{
	width: 50%;
	margin-left: 20%;
	margin-top: 5px;

}

#inpLoginname, #inpPassword {
	font-family: Century Gothic, sans-serif;
	font-weight: lighter;
	font-size: 20px;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	border: none;
	text-align: center;
}

#inpLoginname::placeholder {
	color: #aaaaaa;
	position:relative;
	text-align: center;
}

#inpLoginname:focus {
	outline: none;
}

#inpPassword::placeholder {
	color: #aaaaaa;
	position:relative;
	text-align: center;
}

#inpPassword:focus {
	outline: none;
}

#btnCreate {
	font-family: Century Gothic, sans-serif;
	font-weight: lighter;
	color: rgba(255, 255, 255, 1);
	width: 100%;
	height: 50px;
	font-size: 20px;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, .75);
	background: transparent ;
}

#btnCreate:hover{
	text-transform: uppercase;
    border: none;
}
#btnCreate:focus {
	outline: none;
}



h1 {
	font-size: 45px;
	color: #fff;
	font-family: Century Gothic, sans-serif;
	font-weight: bold;
	text-align: center;
}

hr {

	border: 1px solid rgba(255, 255, 255, .75);

}
