
body {
	background: rgba(245, 132, 33, .87);
  	width: auto;
}

#form {
	position: relative;
	width: 50%;
	margin: auto;
	margin-top: 80px;
}

#inpLoginname,
#inpPassword {
	font-family: Century Gothic, sans-serif;
	font-weight: lighter;
	font-size: 20px;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	border: none;
	text-align: center;
}

#inpLoginname::placeholder,
#inpPassword::placeholder  {
	color: #aaaaaa;
	position:relative;
}

#inpLoginname,
inpPassword:focus {
	outline: none;
}

#btnLogin,
#btnSignup {
	font-family: Century Gothic, sans-serif;
	font-weight: lighter;
	color: rgba(255, 255, 255, 1);
	width: 100%;
	height: 50px;
	font-size: 20px;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, .75);
	background: transparent ;

}

#btnLogin:hover,
#btnSignup:hover {
	text-transform: uppercase;
    border: none;
	cursor: pointer;
}

#btnLogin,
#btnSignup:focus {
	outline: none;
}

h1 {
	font-size: 45px;
	color: #fff;
	font-family: Century Gothic, sans-serif;
	font-weight: bold;
	text-align: center;
}

h3 {
	font-family: Century Gothic, sans-serif;
	font-weight: bold;
	color: #fff;
	margin-top: 30px;
	text-transform: uppercase;
	text-align: center;
}

p {
	font-family: Century Gothic, sans-serif;
	color: #fff;
	margin-top: 20px;
	text-align: center;
}

hr {
	border: 1px solid rgba(255, 255, 255, .75);
}
