body {
	background: rgba(245, 132, 33, .87);
	width: auto;
}

#form{
	position: relative;
	width: 100%;
}

#btnBack, #btnDelete, #btnCreate{
	font-family: Century Gothic, sans-serif;
	font-weight: lighter;
	color: rgba(255, 255, 255, 1);
	width: 100px;
	height: 100px;
	font-size: 20px;
	border: 1px solid rgba(255, 255, 255, .75);
	background: transparent;
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;

}

#btnBack:hover{
	background: #fff;
	color: rgb(245, 132, 33);
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

#btnCreate:hover{
	background: #fff;
	color: rgb(245, 132, 33);
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

#btnDelete:hover{
	background: #fff;
	color: rgb(245, 132, 33);
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

#btnBack, #btnDelete, #btnCreate:focus {
	outline: none;
	cursor: pointer;
}

h1 {
	font-size: 45px;
	color: #fff;
	font-family: Century Gothic, sans-serif;
	font-weight: bold;
	text-transform: uppercase;


}

h2 {
	font-family: Century Gothic, sans-serif;
	font-weight: normal;
	font-size: 30px;
	text-align: left;
	color: #fff;
}

h3 {
	font-family: Century Gothic, sans-serif;
	font-weight: normal;
	font-size: 25px;
	text-align: left;
	color: #fff;
}

hr {

	border: 1px solid rgba(255, 255, 255, .75);

}

#tittel {
	font-size: 45px;
	color: #fff;
	font-family: Century Gothic, sans-serif;
	font-weight: bold;
	text-align: center;
}
#dropdown {
	font-family: Century Gothic, sans-serif;
	font-weight: lighter;
	font-size: 20px;
	width: 100%;
	height: 50px;
	border: none;
	text-align: center;
	margin-bottom: 20px;
	text-align: center;
}

#dropdown:focus{
	outline:none;

}

#listName, #inpItem, #listId {
	font-family: Century Gothic, sans-serif;
	font-weight: lighter;
	font-size: 20px;
	width: 100%;
	height: 50px;
	border: none;
	text-align: center;
	margin-bottom: 20px;
	float: left;

}

#listId, #listName, #inpName:focus{
	outline: none;
}

#listId::placeholder {
	color: #aaaaaa;
	position:relative;

}
#listName::placeholder {
		color: #aaaaaa;
		position:relative;

}

#inpName::placeholder {
		color: #aaaaaa;
		position:relative;

}

#btnCreateitem {
	font-family: Century Gothic, sans-serif;
	font-weight: lighter;
	color: rgba(255, 255, 255, 1);
	width: 100%;
	height: 50px;
	font-size: 20px;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, .75);
	background: transparent ;

}

#btnCreateitem:hover {
	background: #fff;
	color: rgb(245, 132, 33);
	border: none;
	text-transform: uppercase;
	cursor: pointer;

}

#btnCreateitem:focus {
	outline: none;
}



